.card-profile-home{
	position: fixed;
	position: sticky;
	top: 110px;
}
.engage-button{
  background-color: transparent;
  box-shadow: none !important;
  border: none;
}
.icon-actions > .like {
  color: var(--gray-dark) 
}
.icon-actions > .like:hover {
  cursor: pointer;
  transform: translateY(0px);
}
.icon-actions > .like:hover,
.icon-actions > .like:active, 
.icon-actions > .like.active {
  color: var(--blue) !important;
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.invalid-form-input-message {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #fb6340; 
}
.is-invalid-input {
	border: 1px solid #fb6340;
	color: #fb6340;
}
.modal-body-lean{
  padding-top: 5px;
  padding-bottom: 5px;
}
.modal-footer-lean{
  padding-top: 0px;
  /*padding-bottom: 5px;*/
}
.navbar-top{
	position: fixed;
	top: 0;
	z-index: 100;
	/*width: calc(100% - 250px);*/
}

@media (max-width: 1199.98px){
  .navbar-top{
    width: 100% !important;
  }
}
.g-sidenav-pinned .navbar-top{
  width: calc(100% - 250px);
}

.g-sidenav-hidden .navbar-top{
  width: calc(100% - 60px);
}

.navbar-brand-img {
	height: 27px;
}
.main-content-top-margin{
	margin-top: 76px;
}

/*Start Loading Spinner */
.html-spinner{
  width:21px;
  height:21px;
  border:2px solid #ffffff55;
  border-top:2px solid white;
  border-radius:50%;
  margin: 0 10px;
  
  /*Animation code for older Chrome, Safari, Opera*/
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1.2s;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  
  /*Animation code for older Firefox*/
  -moz-transition-property: -moz-transform;
  -moz-animation-name: rotate; 
  -moz-animation-duration: 1.2s; 
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  
  /*Default animation code*/
  transition-property: transform;
  animation-name: rotate; /*Call to @keyframe rule*/
  animation-duration: 1.2s; /*Change to speed up or slow down the animation*/
  animation-iteration-count: infinite; /*Make the animation go forever*/
  animation-timing-function: linear;
}
 
/*keyframes rule for older Chrome, Safari, Opera*/
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
 
/*keyframes rule for older Firefox version*/
@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}
 
/*Default @keyframes rule*/
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
/* End Loading Spinner */
.nochange, .nochange:hover, .nochange:visited {
  color: #fff;
}
.hide-navbar-button-text {
  margin-left: -15px;
  padding: 10px 10px;
}
.hide-navbar-button-text > .show-icon-only{
  transition: 0.3s ease;
  display: none;
}

hr.thin-rule{
  margin-bottom: 1rem;
  border-color: rgba(0,0,0,0.05);
}

@media (min-width: 576px){
  .engagement-bar{
    flex: 0 0 80% !important;
    max-width: 100% !important;
  }
}

/*Comment Styling*/
.submit-comment{
  box-shadow: none;
  border: none;
  padding: 0;
  padding: 0.625rem 0.75rem;
  color: #adb5bd;

  display: flex;
  align-items: center;
  margin-bottom: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}
.submit-comment:hover, .submit-comment:active{
  background-color: var(--blue) !important;
  border: 1px solid var(--blue);
  color: #fff !important;
  box-shadow: none !important;
}

.comment-head{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.comment-head > small{
  margin-right: 0px;
  margin-left: 10px;
}

.media-comment-text{
  width: 100%;
}
.inner-media-container{
  position: relative;
  width: 100%;
}

.commenter-name{
  margin-bottom: 0.5rem;
  line-height: 1.5;
  color: #32325d !important;
  font-size: 0.8125rem;
}

.media-comment:hover .media-comment-avatar {
  transform: scale(1.0); 
} 
.media-comment-avatar:hover {
  transform: scale(1.1) !important;
}

.post-comments-modal{
  max-height: 90vh;
  overflow-y: auto;
  /*style={{maxHeight: "90vh", overflowY: "auto"}}*/
}

/*Skeleton loaders*/
.skeleton-line{
  background-color: #ffffff44;
  height: 10px;
  width: 50px;
  border-radius: 5px;
}
.skeleton-line-p{
  display: inline-block;
  background-color: #00000011;
  height: 10px;
  width: 100%;
  max-width: 130px;
  border-radius: 5px;
}
.skeleton-line-post{
  background-color: #00000011;
  max-width: 95%;
  height: 10px;
  border-radius: 5px;
}
.half-post{
  max-width: 50%;
}
.skeleton-line-h2{
  display: inline-block;
  background-color: #32325d77;
  height: 15px;
  width: 100%;
  max-width: 100px;
  border-radius: 10px;
}
.bio{
  max-width: 270px;
}
.skeleton-line-post-name{
  display: inline-block;
  background-color: #32325d77;
  height: 10px;
  width: 100px;
  border-radius: 10px;
}
.post-date{
  width: 70%;
}
.notif-post-date{
  width: 70px;
}
.notif-post-name{
  width: 100px;
}
.like-count{
  background-color: #00000011;
  height: 10px;
  padding: 0px;
  width: 90px;
  border-radius: 5px;
}
.skeleton-delete{
  display: inline-block;
  background-color: #5e72e477;
  height: 20px;
  width: 75px;
  border-radius: 3px;
}
@media (max-width: 991.98px) {
  .d-small-block{
    display: block !important;
    background: #f5365cee;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 5px #f5365caa;
  }
  .d-small-block .nav-link-inner--text, .btn-inner--icon {
    color: #ffffff;
  }
  .d-small{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px; 
    display: block !important;
  }
}