.card-profile-home{
	position: fixed;
	position: sticky;
	top: 110px;
}
.engage-button{
  background-color: transparent;
  box-shadow: none !important;
  border: none;
}
.icon-actions > .like {
  color: var(--gray-dark) 
}
.icon-actions > .like:hover {
  cursor: pointer;
  transform: translateY(0px);
}
.icon-actions > .like:hover,
.icon-actions > .like:active, 
.icon-actions > .like.active {
  color: var(--blue) !important;
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

.invalid-form-input-message {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #fb6340; 
}
.is-invalid-input {
	border: 1px solid #fb6340;
	color: #fb6340;
}
.modal-body-lean{
  padding-top: 5px;
  padding-bottom: 5px;
}
.modal-footer-lean{
  padding-top: 0px;
  /*padding-bottom: 5px;*/
}
.navbar-top{
	position: fixed;
	top: 0;
	z-index: 100;
	/*width: calc(100% - 250px);*/
}

@media (max-width: 1199.98px){
  .navbar-top{
    width: 100% !important;
  }
}
.g-sidenav-pinned .navbar-top{
  width: calc(100% - 250px);
}

.g-sidenav-hidden .navbar-top{
  width: calc(100% - 60px);
}

.navbar-brand-img {
	height: 27px;
}
.main-content-top-margin{
	margin-top: 76px;
}

/*Start Loading Spinner */
.html-spinner{
  width:21px;
  height:21px;
  border:2px solid #ffffff55;
  border-top:2px solid white;
  border-radius:50%;
  margin: 0 10px;
  
  /*Animation code for older Chrome, Safari, Opera*/
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1.2s;
  -webkit-animation-name: rotate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  
  /*Animation code for older Firefox*/
  -moz-transition-property: -moz-transform;
  -moz-animation-name: rotate; 
  -moz-animation-duration: 1.2s; 
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  
  /*Default animation code*/
  transition-property: transform;
  animation-name: rotate; /*Call to @keyframe rule*/
  animation-duration: 1.2s; /*Change to speed up or slow down the animation*/
  animation-iteration-count: infinite; /*Make the animation go forever*/
  animation-timing-function: linear;
}
 
/*keyframes rule for older Chrome, Safari, Opera*/
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}
 
/*keyframes rule for older Firefox version*/
@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}
 
/*Default @keyframes rule*/
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.html-spinner-home-2{
  display: inline-block;
  width: 19px !important;
  height: 19px !important;
  padding: 0px;
  margin: 0 10px -4px 0;
}
.html-spinner-home{
  display: inline-block;
  width: 19px !important;
  height: 19px !important;
  border:2px solid #00006655 !important;
  border-top:2px solid #000066dd !important;
  padding: 0px;
  margin: 0 10px -4px 0;
}
/* End Loading Spinner */

.nochange, .nochange:hover, .nochange:visited {
  color: #fff;
}
.hide-navbar-button-text {
  margin-left: -15px;
  padding: 10px 10px;
}
.hide-navbar-button-text > .show-icon-only{
  transition: 0.3s ease;
  display: none;
}

@media (max-width: 1199.98px){
  .hide-navbar-button-text {
    transition: 0.3s ease;
    margin-left: 0px;
    padding: 10px 20px;
  }
  .hide-navbar-button-text > .show-icon-only{
    transition: 0.3s ease;
    display: inline-block;
  }
}

hr.thin-rule{
  margin-bottom: 1rem;
  border-color: rgba(0,0,0,0.05);
}

@media (min-width: 576px){
  .engagement-bar{
    flex: 0 0 80% !important;
    max-width: 100% !important;
  }
}

/*Comment Styling*/
.submit-comment{
  box-shadow: none;
  border: none;
  padding: 0;
  padding: 0.625rem 0.75rem;
  color: #adb5bd;

  display: flex;
  align-items: center;
  margin-bottom: 0;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
}
.submit-comment:hover, .submit-comment:active{
  background-color: var(--blue) !important;
  border: 1px solid var(--blue);
  color: #fff !important;
  box-shadow: none !important;
}

.comment-head{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.comment-head > small{
  margin-right: 0px;
  margin-left: 10px;
}

.media-comment-text{
  width: 100%;
}
.inner-media-container{
  position: relative;
  width: 100%;
}

.commenter-name{
  margin-bottom: 0.5rem;
  line-height: 1.5;
  color: #32325d !important;
  font-size: 0.8125rem;
}

.media-comment:hover .media-comment-avatar {
  transform: scale(1.0); 
} 
.media-comment-avatar:hover {
  transform: scale(1.1) !important;
}

.post-comments-modal{
  max-height: 90vh;
  overflow-y: auto;
}

/*Skeleton loaders*/
.skeleton-line{
  background-color: #ffffff44;
  height: 10px;
  width: 50px;
  border-radius: 5px;
}
.skeleton-line-p{
  display: inline-block;
  background-color: #00000011;
  height: 10px;
  width: 100%;
  max-width: 130px;
  border-radius: 5px;
}
.skeleton-line-post{
  background-color: #00000011;
  max-width: 95%;
  height: 10px;
  border-radius: 5px;
}
.half-post{
  max-width: 50%;
}
.skeleton-line-h2{
  display: inline-block;
  background-color: #32325d77;
  height: 15px;
  width: 100%;
  max-width: 100px;
  border-radius: 10px;
}
.bio{
  max-width: 270px;
}
.skeleton-line-post-name{
  display: inline-block;
  background-color: #32325d77;
  height: 10px;
  width: 100px;
  border-radius: 10px;
}
.post-date{
  width: 70%;
}
.notif-post-date{
  width: 70px;
}
.notif-post-name{
  width: 100px;
}
.like-count{
  background-color: #00000011;
  height: 10px;
  padding: 0px;
  width: 90px;
  border-radius: 5px;
}
.skeleton-delete{
  display: inline-block;
  background-color: #5e72e477;
  height: 20px;
  width: 75px;
  border-radius: 3px;
}
@media (max-width: 991.98px) {
  .d-small-block{
    display: block !important;
    background: #f5365cee;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 5px #f5365caa;
  }
  .d-small-block .nav-link-inner--text, .btn-inner--icon {
    color: #ffffff;
  }
  .d-small{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px; 
    display: block !important;
  }
}
img.avatar {
  object-fit: cover;
}
.avatar-xl img {
  width: 74px;
  height: 74px;
  object-fit: cover; 
}
.avatar-sm img {
  width: 36px;
  height: 36px;
  object-fit: cover; 
}
.card-profile-image img{
  width: 140px;
  height: 140px;
  object-fit: cover; 
}
.auth-form-header img{
  display: block;
  max-height: 30px; 
  margin: 10px auto;
}
.home-bg {
  background-color: transparent !important;

}
.home-overlay{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
  background-color: var(--blue);
  opacity: 0.3;
}

.home-container{
  background-image: url("../img/theme/home1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.landing-page-footer{
  position: absolute;
  width: 100%;
  bottom: 0;
}
.landing-page-footer a.home-link{
  color: #ffffff77 !important;
}
.landing-page-footer a.home-link:hover{
  color: #ffffffbb !important;
}
.landing-page-footer div.home-link{
  color: #ffffff55 !important;
}
.btn-no-ml{
  margin-left: 0px !important;
}
.nav-hover:hover{
  cursor: pointer;
}

@media (max-width: 991.98px){
  .btn-inner--icon-home {
    color: var(--blue);
  }
}

.card-profile-image img.user-page{
  box-shadow: 0px 0px 5px 2px #00000033;
}

.card-profile-image img.user-page:hover {
  cursor: zoom-in;
}

.card-profile-image img.home-page-image:hover {
  transform: translate(-50%, -50%) scale(1);
}

.user-header-image{
  min-height: 300px;
  background-image: url("../img/theme/locus-beach-cover.jpg");
  background-size: cover;
  background-position: 50% 40%;
}
.separator, .separator svg {
    position: absolute;
    pointer-events: none;
}
.separator {
    top: auto;
    left: 0;
    right: 0;
    width: 100%;
    height: 150px;
    /*z-index: 0;*/
    transform: translateZ(0);
    overflow: hidden;
}
.separator-bottom {
    top: auto;
    bottom: 0;
}
.separator-skew {
    height: 80px;
}
.fill-user{
  fill: #f8f9fe;
}
.side-note{
  font-family: 'Shadows Into Light', cursive;
  font-size: 18px;
}
.side-note-top{
  font-family: 'Shadows Into Light', cursive;
  font-size: 18px;
  vertical-align: top;
}
div.demo-arrow-left{
  display: inline-block;
  color: #fff;
  font-size: 26px;
  margin-left: 60px;
  transform: scaleX(-1);
}
.special-button{
  background-color: #ffffff33;

  color: #32325d99;
  border: 1px solid #32325d99;
  
  color: #fffffff2;
  border: 1px solid #ffffffbb;
  
  font-weight: 400;
  backdrop-filter: blur(8px);
}
.special-button:hover, .special-button:active{
  background-color: #ffffff33 !important;  
  color: #fffffff2;
  border: 1px solid #ffffffbb !important;
  font-weight: 400;
  backdrop-filter: blur(8px);
}

.special-button:active{
  background-color: #ffffff77 !important; 
}

.deny-cursor:hover{
  cursor: not-allowed;
  transform: translateY(0px);
}

@media (max-width: 1199.98px){
  .hide-on-md{
    display: none;
  }
}

.mobile-add-post{
  display: none;
  border-radius: 50%;
  height: 38px;
  width: 38px;
  vertical-align: center;
  background-color: var(--white);
  box-shadow: 0px 0px 5px 2px #88888833;
  margin-left: 10px;
}
.mobile-add-post:hover {
  cursor: pointer;
  transform: translateY(-1px);
}
.mobile-add-post span{
  color: var(--blue);
  font-weight: 300;
  width: 100%;
  text-align: center;
  display:table;
  margin: 0 auto;
  vertical-align: center;
  line-height: 38px;
  font-size: 1.5rem;
}

@media (max-width: 767.98px) {
  .mobile-add-post{
    display: inline-block;
  }
}

.profile-photo-modal img{
  max-height: 90vh; 
  width: auto; 
  max-width: 90vw;
}
.profile-photo-modal .modal-content{
  width: auto; 
}
.profile-photo-modal .card{
  margin-bottom: 0px;
}

.modal-dialog-centered {
  justify-content: center;
}
.photo-modal-header{
  padding: 0px;
  position: fixed;
  top: 9px;
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
  text-align: center;
  vertical-align: center;
}
.photo-modal-header .close{
  padding: 3px;
}
@media (max-width: 767.98px) {
  .photo-modal-header .close{
    padding: 6px;
  }
}
.photo-modal-header .close span{
  margin-right: 0px;
}